<footer>
    <div>
      <h3>Ekin Kanicioglu - Contact Information</h3>
      <p>Phone: (519) 820-0596</p>
      <p>Email: ekinkanicioglu@gmail.com</p>
      <p>Centennial College</p>
    </div>
  </footer>