
<nav class="navbar">
    <a class="logo" href="http://localhost:3000/home">
       <img style = "height:150px; width:150px;"src="/images/logo.png" height="36">
     </a>
    
       
           <a class="navlink" style="padding-left: 90px;" aria-current="page" href="http://localhost:3000/">Home</a>
           <a class="navlink" href="http://localhost:3000/about">About</a>
           <a class="navlink" href="http://localhost:3000/projects">Project</a>
           <a class="navlink" href="http://localhost:3000/services">Services</a>
           <a class="navlink" href="http://localhost:3000/contact">Contact</a>

   
 </nav>