<%- include('partials/header.ejs' , {title : "Home - Ekin Kanicioglu"}) %>
<%- include('partials/nav.ejs',{pageTitle : "Ekin Kanicioglu"}) %>
<div>
<body>
    <p>Ekin Kanicioglu, a passionate Software Engineering Technician student at Centennial College in Toronto, Ontario, Canada, with a strong belief in science, research, and women's rights. Committed to positive change, I bring curiosity, research experience, and robust programming skills to every endeavor. My mission is to merge the realms of research and software, 
        contributing to meaningful projects and continuously expanding my knowledge for a better future.</p>
        <p>To learn more about me <a href="http://localhost:3000/about"> click here.</a></p>
</body>
</div>
<div>
<%- include('partials/footer.ejs') %></div>
