<%- include('partials/header.ejs' , {title : "Projects - Ekin Kanicioglu"}) %>
<%- include('partials/nav.ejs',{pageTitle : "Projects"}) %>

<body>
    <h2>Car Rental Database:</h2>
    <p>
        The Car Rental Database project involved designing and implementing a database system
        to manage car rental services. It included functionalities such as storing information
        about different car models, managing rental reservations, calculating rental costs,
        tracking vehicle availability, and handling customer details. The project aimed to
        streamline the process of renting cars, providing an efficient and organized solution
        for both customers and the car rental agency.
    </p>
</div>

<div class="project-description">
    <h2>Bank Account System:</h2>
    <p>
        The Bank Account System project focused on creating a software application that simulates
        a banking system. It allowed users to create and manage bank accounts, perform transactions
        like deposits and withdrawals, view account balances, and generate statements. Security measures
        were integrated to protect sensitive financial data and ensure secure transactions. The system
        aimed to provide a user-friendly interface for customers to manage their finances effectively.
    </p>
</div>

<div class="project-description">
    <h2>Calculator:</h2>
    <p>
        The Calculator project involved developing a digital calculator application with basic arithmetic
        operations such as addition, subtraction, multiplication, and division. The calculator provided a
        graphical user interface for users to input numbers and perform calculations. It aimed to create a
        convenient tool for performing quick mathematical calculations on a digital platform, suitable for
        various applications and users needing fast and accurate calculations.
    </p>
</div>
</body>

<%- include('partials/footer.ejs') %>
