<%- include('partials/header.ejs' , {title : "Services - Ekin Kanicioglu"}) %>
<%- include('partials/nav.ejs',{pageTitle : "Services"}) %>

<body>
    <br>
    <div>
        <h2>Website Development:</h2>
        <p>
            I specialize in creating user-friendly, responsive websites that align with your brand
            identity and meet your specific requirements.
        </p>
    </div>

    <div>
        <h2>Database Design:</h2>
        <p>
            I design databases that provide a solid foundation for your applications, enabling seamless
            data management and retrieval while adhering to industry best practices and standards.
        </p>
    </div>

    <div >
        <h2>Project Management:</h2>
        <p>
            I work closely with you to define project goals, establish timelines, allocate resources,
            and ensure successful delivery within budget.
        </p>
    </div><br><br><br>
</body>

<%- include('partials/footer.ejs') %>
