body {
    background-color: black;
    color: white;
  }
  
  .navbar {
    display: flex;
    align-items: center; /* Center the nav items vertically */
    padding: 25px; 
  }
  
  .navlink {
    color: lightgray; 
    text-decoration: none; 
    margin-right: 30px; 
    margin-left:30px;
    padding: 10px;
    text-align: center;
  }
  
  .navlink:hover {
    color: white; 
  }